:root {
    --primary-color: var(--AND-RED);
    --secondary-color: var(--AND-BLUE);
    --alt-color: var(--AND-CHARCOAL);
    --text-color: var(--AND-CHARCOAL);
    --text-secondary-color: var(--AND-WHITE);

    --AND-RED: #fe323c;
    --AND-YELLOW: #ffc800;
    --AND-GREEN: #5ac328;
    --AND-BLUE: #2897ff;
    --AND-PURPLE: #a050ff;
    --AND-PINK: #ff6ecf;
    --AND-CHARCOAL: #323232;
    --AND-WHITE: #ffffff;
}

@font-face {
    font-family: 'BrownRegular';
    src: url('../fonts/brown-regular.ttf');
}

@font-face {
    font-family: 'BrownLight';
    src: url('../fonts/brown-light.ttf');
}

@import '~antd/dist/antd.css';

* {
  font-family: 'BrownLight';
}

html {
    font-family: 'BrownLight';
    height: 100%;
    width: 100%;
}

body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BrownRegular';
    margin-bottom: 0 !important;
}

.max-line-h {
    line-height: initial;
}
